<form class="row" [formGroup]="order_service.orderForm"  
(submit)="onSubmit()" [class.submitted]="submitted">
    <!-- <div class="col-10 mb-3">
        <label for="" class="form-label">#</label>
        <input class="form-control form-control-lg" placeholder="product name"
        formControlName="_id">
    </div> -->
  <!-- Product Name -->
    <div class="col-10 mb-3">
        <label for="product" class="form-label">PRODUCT</label>
        <input id="product" class="form-control form-control-lg" placeholder="Enter product name" formControlName="product">
    </div>

    <!-- Quantity -->
    <div class="col-10 mb-3">
        <label for="quantity" class="form-label">QUANTITY</label>
        <input id="quantity" class="form-control form-control-lg" placeholder="Enter quantity" formControlName="quantity">
    </div>

    <!-- Total Price -->
    <div class="col-10 mb-3">
        <label for="totalPrice" class="form-label">TOTAL PRICE</label>
        <input id="totalPrice" class="form-control form-control-lg" placeholder="Enter total price" formControlName="totalPrice">
    </div>

    <!-- Customer Name -->
    <div class="col-5 mb-3">
        <label for="customerName" class="form-label">CUSTOMER NAME</label>
        <input id="customerName" class="form-control form-control-lg" placeholder="Enter customer's full name" formControlName="customerName">
    </div>

    <!-- Phone Number -->
    <div class="col-5 mb-3">
        <label for="phoneNo" class="form-label">PHONE NO</label>
        <input id="phoneNo" class="form-control form-control-lg" placeholder="Enter customer's phone number" formControlName="phoneNo">
    </div>

    <!-- Customer Address -->
    <div class="col-5 mb-3">
        <label for="address" class="form-label">CUSTOMER ADDRESS</label>
        <input id="address" class="form-control form-control-lg" placeholder="Enter customer's address" formControlName="address">
    </div>

    <!-- Order Date -->
    <div class="col-5 mb-3">
        <label for="orderDate" class="form-label">ORDER DATE</label>
        <input id="orderDate" class="form-control form-control-lg" placeholder="Enter order date" formControlName="orderDate">
    </div>

    <!-- Order Status -->
    <div class="col-5 mb-3">
        <label for="orderStatus" class="form-label">ORDER STATUS</label>
        <input id="orderStatus" class="form-control form-control-lg" placeholder="Enter order status" formControlName="orderStatus">
    </div>

    <!-- Paid Status -->
    <div class="col-5 mb-3">
        <label for="paymentStatus" class="form-label">PAID</label>
        <input id="paymentStatus" class="form-control form-control-lg" placeholder="Enter payment status (true/false)" formControlName="paymentStatus">
    </div>

    <!-- Submit Button -->
    <div class="col-10 d-grid">
        <button class="btn btn-lg btn-primary" type="submit">SUBMIT</button>
    </div>
</form>
