<form class="row" [formGroup]="inventory_service.inventoryForm" (submit)="onSubmit()" [class.submitted]="submitted">

 <!-- Product Name -->
    <div class="col-10 mb-3">
        <label for="productName" class="form-label">PRODUCT NAME</label>
        <input id="productName" class="form-control form-control-lg" placeholder="Enter product name" formControlName="productName">
    </div>

    <!-- Description -->
    <div class="col-10 mb-3">
        <label for="description" class="form-label">DESCRIPTION</label>
        <input id="description" class="form-control form-control-lg" placeholder="What type of product?" formControlName="description">
    </div>

    <!-- Quantity -->
    <div class="col-10 mb-3">
        <label for="quantity" class="form-label">QUANTITY</label>
        <input id="quantity" class="form-control form-control-lg" placeholder="Enter amount in store" formControlName="quantity">
    </div>

    <!-- Price -->
    <div class="col-5 mb-3">
        <label for="price" class="form-label">PRICE</label>
        <input id="price" class="form-control form-control-lg" placeholder="Enter cost per item" formControlName="price">
    </div>

    <!-- Supplier Name -->
    <div class="col-5 mb-3">
        <label for="supplierName" class="form-label">SUPPLIER</label>
        <input id="supplierName" class="form-control form-control-lg" placeholder="Enter supplying company" formControlName="supplierName">
    </div>

    <!-- Manufacturing Date -->
    <div class="col-5 mb-3">
        <label for="manufacturingDate" class="form-label">DATE MANUFACTURED</label>
        <input id="manufacturingDate" class="form-control form-control-lg" placeholder="Enter manufacturing date" formControlName="manufacturingDate">
    </div>

    <!-- Expiry Date -->
    <div class="col-5 mb-3">
        <label for="expiryDate" class="form-label">EXPIRY DATE</label>
        <input id="expiryDate" class="form-control form-control-lg" placeholder="Enter expiry date" formControlName="expiryDate">
    </div>

    <!-- Location -->
    <div class="col-5 mb-3">
        <label for="location" class="form-label">LOCATION IT'S STORED</label>
        <input id="location" class="form-control form-control-lg" placeholder="Enter warehouse location" formControlName="location">
    </div>

    <!-- Submit Button -->
    <div class="col-10 d-grid">
        <button class="btn btn-lg btn-primary" type="submit">SUBMIT</button>
    </div>

</form>
